/plots/plot_1.png
/plots/plot_2.png
/plots/plot_3.png
/archived_plots/fixed_inter_arr_time_30/plot_1.png
/archived_plots/fixed_inter_arr_time_30/plot_2.png
/archived_plots/fixed_inter_arr_time_30/plot_3.png
